@font-face {
    font-family: 'ko', sans-serif;
    src: url(../font/ijwSs5nhRMIjYsdSgcMa3wRhWdnoyO9eQVvLv7TGp0JLNitJCzbi.0.woff2);
}

@font-face {
    font-family: 'eng', serif;
    src: url(../font/a8IbNovtLWfR7T7bMJwrGIKR4zg.woff2);
}